section {
    display: block;
    width: 1000px;
    height: 150px;
    padding: 0 50px;
    align-content: normal;
}

h3 {
   
    padding: 0 25px;
}

h1 {
    padding: 0 25px;
    justify-content: center;
}

p {
    font-size: 24;
}

#computerImage {
    position: absolute;
    top: 100px;
    left: 1250px;
    width: 200px;
    height: 200px; 
}

#atomImage {
    position: absolute;
    top: 350px;
    left: 1250px;
    width: 200px;
    height: 200px;
}

hr {
    border: 0;
    height: 2px;
    background-color: black;
}

.blog {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.blog h1{
    font-size: 2em;
}

