body {
  background-color: #01050c;
}

header {
  text-align: center;
}

h1 {
  color: #ceb5a4;
}

h3 {
  color: #ffffe8;
}

.container-1 {
  border: 1px solid #674c42;
  background-color: #674c42;
  color: #01050c;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#container-ben {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#logo {
  border-radius: 50%;
  width: 150px;
}

#Benefits {
  width: 350px;
  text-align: center;
  padding: 10px;
}



#Chess-P {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: #01050c;
  border: 1px solid #ceb5a4;
  color: #ceb5a4;
}
