table, th, tr, td {
    border: 1px solid black;
}

td { 
    padding: 10px 10px;
}

img{
    width: 300px;
    height:  250px;
    border-radius: 20px;
}

.yes {
    color: red;
}

.no {
    color: blue;
}

h1 {
    background-color: rgb(232, 255, 226);
    padding: 10px 10px;
}

h1, h3 {
   color: rgb(9, 187, 9);
   text-align: center;
}

div {
    justify-content: center;
    display: flex;
 
}
.pos {
    max-width: 400px;

}