section {
    display: block;
    width: 500px;
    height: 350px;
    padding: 0 50px;
    align-content: normal;
}

h3 {
   
    padding: 0 25px;
    color: antiquewhite;
}

h1 {
    padding: 0 25px;
    justify-content: center;
    color:antiquewhite;
    
}

p {
    font-size: 24;
    color: antiquewhite;
}

#computerImage {
    position: absolute;
    top: 250px;
    left: 1250px;
    width: 200px;
    height: 200px; 
}

#atomImage {
    position: absolute;
    top: 700px;
    left: 1250px;
    width: 200px;
    height: 200px;
}

hr {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.blog {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.blog h1{
    font-size: 2em;
}
body {
    background-color: rgb(12, 12, 12);
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: antiquewhite;
}
