.user-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .user img {
    border-radius: 50%;
    margin-right: 10px; 
    width: 100px; 
    height: 100px; 
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
  }
  
  .address {
    font-size: 0.9em; 
  }
  